{:deps {anomalies {:git/url "https://github.com/cognitect-labs/anomalies"
                   :sha "2decbbb3ffd8e919c67d29f39ec6d920575f65c3"
                   :tag "0.1.12"
                   :deps/manifest :deps}
        com.climate/claypoole {:mvn/version "1.1.4"} ; doesn’t work as a gitlib (multiple reasons)
        hato {:git/url "https://github.com/gnarroway/hato"
              :sha "2417af9c932958ab537c77e01c045e1457bad9e1"
              :tag "v0.5.0"
              :deps/manifest :deps}
        cheshire {:mvn/version "5.10.0"} ; used by hato. multiple deps + no deps.edn
        
        com.atlassian.commonmark/commonmark                       {:mvn/version "0.15.0"}
        com.atlassian.commonmark/commonmark-ext-autolink          {:mvn/version "0.15.0"}
        com.atlassian.commonmark/commonmark-ext-gfm-strikethrough {:mvn/version "0.15.0"}
        com.atlassian.commonmark/commonmark-ext-gfm-tables        {:mvn/version "0.15.0"}
        com.atlassian.commonmark/commonmark-ext-heading-anchor    {:mvn/version "0.15.0"}
        
        medley {:git/url "https://github.com/weavejester/medley"
                :sha "6c79c4cce52b276daa3c2b6eaea78f96904bca56"
                :tag "1.3.0"}}

  :aliases
  {:dev {:jvm-opts ["-XX:-OmitStackTraceInFastThrow"
                    "--illegal-access=deny"
                    ;; If you run into port conflicts, you/we can change the port specified in
                    ;; deps.edn to `0` — which means “some available port” — and then use `lsof` or
                    ;; some equivalent (e.g. Sloth on MacOS) to discover the port that was chosen.
                    "-Dclojure.server.repl={:port,5555,:accept,clojure.core.server/repl}"]}

   :test {:extra-paths ["test"]
          :extra-deps
          {kaocha {:git/url "https://github.com/lambdaisland/kaocha"
                   :sha "c97184a30a604da92a86d4207ed7e26b67881e5c"
                   :tag "v1.0.629"}}}}}
