{:linters {:missing-docstring             {:level :info}
           :unsorted-required-namespaces  {:level :warning}
           :single-key-in                 {:level :warning}}
 :lint-as {com.climate.claypoole/with-shutdown! clojure.core/with-open}}
